<div class="row">
  <div class="twelve columns">
    <h1>Редактирование плательщика</h1>

    <%=render :partial => "recipients/form", :locals => {:recipient=>@recipient} %>

  </div>
  <div class="twelve columns">
    <div class="six-up columns centered">
      <p><%= link_to 'Show', @recipient %>|<%= link_to 'Back', recipients_path %></p>
    </div>
  </div>

</div>
