<div class="row">
<div class="twelve columns" style="margin-top: 4%;">
  <ul class="breadcrumbs">
    <li><%= link_to "Календарь", payments_path  %></li>
    <li><span>Features</span></li>

  </ul>
</div>
</div>